# Last known good configuration for the LocalStack Community Edition
# This is no longer supported by LocalStack
# https://blog.localstack.cloud/2026-upcoming-pricing-changes/
LOCALSTACK_IMAGE=localstack/localstack:4.14.0

# LOCALSTACK RESOURCE NAMES
# local mock of cica bucket
S3_KTA_DOCUMENTS_BUCKET=local-kta-documents-bucket 
# local mock of cica bucket used to store the page images
S3_PAGE_BUCKET=local-kta-documents-bucket
# SQS queue used to determine which documents are to be processed (NOT currently used)
SQS_DOCUMENT_QUEUE=cica-document-search-queue

# Config for OpenSearch Bedrock remote model for query-time embeddings using the same Titan model used at ingestion.
# NOTE this uses the AWS_MOD_PLATFORM_* credentials  to connect to a real AWS account, so that it can access the same Bedrock model used at ingestion time. 
# This is necessary to ensure that the embeddings generated at query time are compatible with those generated at ingestion time.
# This will require daily rotation of the MOD Platform AWS credentials used in the local development environment
# See the BEDROCK_CONNECTOR_README.md for more details
BEDROCK_EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0

# The following keys and values are used to pull in scanned redacted medical reports from an external S3 bucket and place them within the localstack S3 bucket
# during the docker compose up process. This is used instead of storing the documents within the repo itself. 
# The external S3 bucket is a sandbox bucket in the MOD platform account that contains a small number of scanned redacted medical reports for testing purposes. 
# The files are not sensitive and can be used for testing and development purposes.

# External S3 Bucket
SRC_S3_BUCKET=mod-platform-sandbox-kta-documents-bucket
# Comma delimited list of external source documents, the buckets and files must be present in our MOD platform sandbox account
SRC_S3_KEY=26-700001/Case1_TC19_50_pages_brain_injury.pdf,26-700002/Case1_TC19_50_pages_brain_injury.pdf,26-700003/Case1_TC19_50_pages_brain_injury.pdf


# MOD PLATFORM AWS configuration to allow access to the external S3 bucket
# REPLACE THESE VALUES WITH VALUES RETRIEVED FROM MOD_PLATFORM
# See the RUNBOOK.md for detailed instructions.
AWS_REGION=eu-west-2
AWS_MOD_PLATFORM_ACCESS_KEY_ID=MOD_AWS_ACCESS_KEY_ID
AWS_MOD_PLATFORM_SECRET_ACCESS_KEY=MOD_AWS_SECRET_ACCESS_KEY
AWS_MOD_PLATFORM_SESSION_TOKEN=MOD_AWS_SESSION_TOKEN

