.env
.terraform/
coverage/
venv/
.venv
env/
.DS_STORE
.vscode
*.code-workspace
*.sha256
terraform.tfstate
.venv/
.coverage
**/__pycache__/*
local-dev-environment/.venv/
localstack/.venv/bin/activate
redacted_data/
*.log
*.pyc
.coverage
tests/chunking/data/redacted_retrieve_from_s3/
tests/chunking/test_integration_layout_table_chunking.py
logs/
output/hybrid-test-results/
